body {
    padding-top: 100vh;
    background-color: #454444;
    color: white;
}
header {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar,
.main {
    position: relative;
}

#logo {
    max-height: 70px;
}
.navbar {
    margin-top: -100px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(100,100,100, .3);
    height: 100px;
    box-shadow: 0px 2px 6px rgba(0,0,0, .4);
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 100;
    font-family: "Quicksand";
    font-size: 14pt;
}
.navbar-scrolled,
header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
}
.navbar-collapse {
    margin-top: 14px;
}
.hero {
    background-color: #454444;
    margin-bottom: 0px;
    text-align: center;
    font-family: serif;

    /*box-shadow: inset 0px -50px 50px 10px rgba(0,0,0,0.6);*/
}
.hero h1 {
    font-size: 22vh;
}
.hero p {
    margin: 40px;
}

#sub-text {
    font-size: 5vh;
    font-family: sans-serif;
    font-style: italic;
    border-bottom: #fac645 solid 2px;
}

#hero-text {
    font-size: 20vh;
}

#about-me {
    background-color: #fac645;
    padding-top: 20vh;
    height: 60vh;
    font-family: serif;
    margin-top: -100px;
    background-image: url("/assets/hero-dark-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#things-i-made {
    background-color: #2f2f2f;
    height: 30vh;
    background-image: url("/assets/construction.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

#under-construction {
    font-size: 6vh;
    padding-top: 20px;
    color: #fac645;
}

#hero-image {
  max-height: 76vh;
}
